<%-include('layout/layout')%>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha Inicio Semana</th>
            <th scope="col">Fecha Final de Semana</th>
            <th scope="col">Cantidad de horas</th>
          </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < datos.length; i++) {%>
              <% datos[i].fechaInicioSemana.setMinutes(datos[i].fechaInicioSemana.getMinutes() + datos[i].fechaInicioSemana.getTimezoneOffset()) %>
              <% datos[i].fechaFinalSemana.setMinutes(datos[i].fechaFinalSemana.getMinutes() + datos[i].fechaFinalSemana.getTimezoneOffset()) %>
              <% const usaFechaInicioSemana = new Intl.DateTimeFormat('en-US').format(datos[i].fechaInicioSemana) %>
              <% const usaFechaFinalSemana= new Intl.DateTimeFormat('en-US').format(datos[i].fechaFinalSemana)%>
          <tr>
            
            <th scope="row"><%=i+1%></th>
            <td><%-datos[i].monto%></td>
            <td><%-usaFechaInicioSemana%></td>
            <td><%-usaFechaFinalSemana%></td>
            <td><%-datos[i].cantHorasTrabajadas%></td>
           
          </tr>
          <% } %>
         </tbody>
      </table>
        
</body>
</html>